
.about-section .wrapper{
    display: flex;
    margin: 0px auto 50px auto;
    padding: 100px 25px 25px 25px;
    min-height: 80vh;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.about-image {
    width: 25%;
    margin-right: 50px;

    img {
            width: 100%
        }
}
        
.about-text {
    width: 75%;
    color: black;
    padding: 20px 25px;

    h2,
    h3 {
        font-family: $header-font;
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 15px;
    }
}

.resume {
    margin: 0 auto;
    text-align: center;

    button {
        background-color: $blue;
        padding: 10px 15px;
        border: none;
        transition: all 0.3s ease-in-out;
        background: $blue;
    }
    
    button:hover,
    button:focus {
        background: rgba($color: $red, $alpha: 0.5);
    }
}

@media (max-width: 1000px) {
    .about-image {
        width: 40%;
    }

    .about-text {
        width: 60%;
    }
}

@media (max-width: 775px) {

    .about-image {
        width: 50%;
        margin-bottom: 25px;
    }

    .about-text {
        width: 100%;
    }
    .about-section .wrapper {
        flex-direction: column-reverse;
    }
}
