.back-to-top {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    
    a {
        color: $pink;
    }
}

footer {
    background-color: $navy;
    height: 5vh;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    color: white;
}
