// NAV STYLES
.site-title {
    font-family: $header-font;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: rgba($color: white, $alpha: 0.8);
    width: 100%;

    ul {
        display: flex;
        align-items: center;

        li {
            padding: 0 15px;
        }

        li:last-of-type {
            padding-right: 0;
        }

        a {
            color: black;
            height: 100%;   
            background: linear-gradient(45deg, rgba(56,210,213,1) 0%, rgba(56,210,213,0.598459366656819) 61%); 
            background-repeat: no-repeat;
            background-position: 0% 100%;
            background-size: 100% 0px;
            transition: background-size .25s;
        }


        a:hover,
        a:focus {
            background-size: 100% 45%;
        }
    }
}

.full-nav {
    position: fixed;
    background: rgba($color: white, $alpha: 0.8);
    width: 100%;
    margin: 0 auto;
}

// HERO STYLES

.hero {
    background-image: url(../assets/background.png);
    background-size: cover;
    
    .wrapper {
        padding-top: 125px;
        height: 90vh;
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }
}

.hero-text {
    background: rgba($color: white, $alpha: 1);
    font-weight: normal;
    width: 70%;
    
    h1 {
        font-family: $header-font;
        margin-bottom: 15px;
        font-size: 3.5rem;
    }

    p {
        font-size: 2rem;
    }
}

.hero-image {
    margin-right: 100px;
}

@media(max-width: 615px) {
    header nav {
        flex-direction: column;
        align-items: center;

        ul {
            margin-top: 15px;
        }

        ul li:first-child {
            padding-left: 0;
        }
    }

    .hero .wrapper {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .hero-image {
        margin: 35px 0;
        width: 61%;
    }

    .hero-text {
        width: 100%;
        text-align: center;
    }
}

@media(max-height: 640px) {
    .full-nav {
        position: static;
    }

    .hero .wrapper {
        padding-top: 50px;
    }
}