// PROJECT STYLES

.all-projects .section-title {
    text-align: center;
    font-family: $header-font;
    font-size: 3.5rem;
}

.project {
    height: auto;
    display: flex;
    padding: 50px 35px;
    margin: 20px 0;

    img {
        width: 250px;
        height: auto;
    }

    button {
        margin-top: 30px;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        background: #f1f2f4;
    }

    button:hover,
    button:focus {
        background: $blue;
        box-shadow: 3px 3px 4px -2px rgba(0,0,0,0.75);
    }
}

.project-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 75%;
    margin-bottom: 20px;
    
    li {
        padding: 5px 10px;
        font-weight: bold;
        margin-top: 15px;
        font-size: 1.6rem;
        font-family: $base-font;
        background: rgba($color: #f1f2f4, $alpha: 0.65);
    }

    li:first-child {
        margin-left: 0px;
    }
    li:last-child {
        margin-right: 0px;
    }
}
.project-mobile-image {
    margin-right: 30px;
}
.project-text {
    padding: 15px;

    .project-title {
        margin-bottom: 20px;
        font-size: 3.8rem;
        font-family: $header-font;
    }

    a {
        color: black;
    }
}

.links a:hover,
.links a:focus {
    color: rgba($color: $blue, $alpha: 0.5)
}

.project1 {
    background-color: rgba($color: $red, $alpha: 0.5)
}

.project2 {
    background-color: rgba($color: $blue, $alpha: 0.5);
    flex-direction: row-reverse;

    .project-mobile-image {
        margin-right: 0;
        margin-left: 30px;
    }
}
.project3 {
    background-color: rgba($color: $yellow, $alpha: 0.65);
}
.project4 {
    background-color: rgba($color: $pink, $alpha: 0.5);
    flex-direction: row-reverse;

    .project-mobile-image {
        margin-right: 0;
        margin-left: 20px;
    }
}

.project5 {
    background-color: rgba($color: $purple, $alpha: 0.5)
}

@media (max-width: 720px) {
    .project {
        flex-direction: column;
    }

    .project-mobile-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 25px 0;
        
        img {
            width: 80%;
        }
    }

    .project2 .project-mobile-image,
    .project4 .project-mobile-image {
        margin-left:0;
    }
}

@media (max-width: 500px) {
    .project {
        padding: 30px 20px;
    }

    .project-text .project-title {
        font-size: 3.2rem;
    }
}