// FONTS
$base-font: 'Open Sans', sans-serif;
$header-font: 'Playfair Display', serif;
$tag-font: 'Inconsolata', monospace;

// COLOURS
$red: #EE4266;
$yellow: #F6FF4B;
$blue: #38D2D5;
$pink: #D90368;
$purple: #e509b2;
$navy: #0a1b4a